.menu_left_container {
    background-color: var(--primary_dark);
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid rgb(109, 108, 108);
    z-index: 2;
    padding: 0 15px;
}

.menu_left_container .profile {
    display: flex;
    width: 90%;
    margin: 40px 0;
}

.menu_left_container .profile .img_profile {
    width: 65px;
    height: 65px;
    padding: 3px;
    background: linear-gradient(to left, var(--secundary_dark), var(--btn_dark_color));
    border-radius: 50%;
}

.menu_left_container .profile .img_profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.menu_left_container .profile .about_profile {
    margin-left: 12px;
    margin-top: 8px;
}

.menu_left_container .profile .about_profile .about_profession_profile {
    color: var(--text_dark);
    font-size: 14px;
    letter-spacing: 0.3px;
}

.menu_left_container .links {
    margin-top: 20px;
}

.menu_left_container .links .link {
    margin: 15px 0;
    padding: 4px;
}

.menu_left_container .links .link a {
    text-decoration: none;
    color: var(--text_dark);
    font-size: 14px;
    letter-spacing: 0.3px;
}

.menu_left_container .links .link ion-icon {
    color: var(--btn_dark_color);
    font-size: 18px;
    margin-bottom: -4px;
    margin-right: 10px;
}

.menu_left_container .links hr {
    margin: 20px 0;
    height: 1px;
    background: gray;
    border: none;
}

/* top menu */
.menu_top_container {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 25px 40px;
}

.menu_top_container .search_app_container {
    width: 70%;
    max-width: 450px;
    display: flex;
}

.menu_top_container .search_app_container input {
    padding: 7px 15px;
    background: transparent;
    border: 1px solid rgb(109, 108, 108);
    width: 85%;
    border-radius: 15px 0px 0px 15px;
    outline: none;
    font-family: sans-serif;
    color: #fff;
    letter-spacing: 0.3px;
    font-size: 15px;
    font-weight: 500;
}

.menu_top_container .search_app_container input::placeholder {
    color: var(--text_dark);
}

.menu_top_container .search_app_container button {
    background: var(--btn_dark_color);
    color: #0f0f0f;
    border: 1px solid rgb(109, 108, 108);
    width: 15%;
    padding: 4px 0;
    font-size: 20px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    transition: .5s;
}

.menu_top_container .search_app_container button ion-icon {
    font-weight: bold;
}

.menu_top_container .search_app_container button:hover {
    background: #18a087;
}

.menu_top_container .change_theme {
    background: #18a087;
    border-radius: 50%;
    padding: 2px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    cursor: pointer;
}

.access_menu_container {
    position: fixed;
    right: 40px;
    bottom: 30px;
}

.access_menu_container .tools_box {
    border-radius: 50%;
    background: var(--btn_dark_color);
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}

.access_menu_container .tools_box.activate {
    rotate: 180deg;
}

.access_menu_container .tools_box ion-icon {
    font-size: 25px;
    cursor: pointer;
}

.access_menu_container .access_box {
    margin-bottom: -30px;
    padding: 0;
    background: var(--btn_dark_color);
    border-radius: 10px;
    transition: .8s;
    height: 0px;
    visibility: hidden;
}

.access_menu_container .access_box.active {
    transition: 1s;
    margin-bottom: 30px;
    height: auto;
    visibility: visible;
    padding: 3px 5px;
}

.access_menu_container .access_box.active hr {
    border: 1px solid #f1f1f1;
}

.access_menu_container .access_box a:hover {
    transform: scale(1.2);
}

.access_menu_container .access_box.active ion-icon {
    font-size: 21px;
}

.access_menu_container .access_box a {
    color: #0f0f0f;
    display: block;
    padding: 6px 10px;
    text-align: center;
    margin: 10px 0;
    transition: .3s;
}

.access_menu_container .access_box hr {
    border: none;
}

.access_menu_container .access_box ion-icon {
    font-size: 0px;
}

/* code */
.code_box {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.code_box .code_center_save {
    width: 400px;
    height: auto;
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    background: var(--secundary_dark);
}

.code_box .code_center_save .head_code_box {
    margin: 30px 0 20px 0;
}

.code_box .code_center_save .head_code_box span {
    font-size: 14px;
    letter-spacing: 0.3px;
    color: var(--text_dark);
}

.code_box .code_center_save .body_code_box .view_code {
    width: 100%;
    padding: 10px;
    display: flex;
}

.code_box .code_center_save .body_code_box .view_code input {
    width: calc(100% - 40px);
    margin-right: 5px;
    background: transparent;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
    padding: 7px;
    color: gray;
    outline: none;
}

.code_box .code_center_save .body_code_box .view_code .icon {
    background: var(--primary_dark);
    border: none;
    padding: 3px 12px;
    border-radius: 5px;
}

.code_box .code_center_save .body_code_box .view_code .icon ion-icon {
    cursor: pointer;
    color: var(--text_dark);
    font-size: 19px;
    margin-top: 3px;
}

.code_box .code_center_save .body_code_box .view_code .icon ion-icon:active {
    transform: scale(0.9);
}

.code_box .code_center_save button {
    padding: 12px 25px;
    border-radius: 5px;
    border: 1px solid var(--btn_dark_color);
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
}
.code_box .code_center_save button a{
    color: var(--text_dark);
    text-decoration: none;
}

.code_box .code_center_save button:hover {
    opacity: .8;
}